OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
VITE_STREAM_API_KEY=mmhfdzb5evj2
VITE_STREAM_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL3Byb250by5nZXRzdHJlYW0uaW8iLCJzdWIiOiJ1c2VyL0ludGVybmFsX0FsbWFuZGluZSIsInVzZXJfaWQiOiJJbnRlcm5hbF9BbG1hbmRpbmUiLCJ2YWxpZGl0eV9pbl9zZWNvbmRzIjo2MDQ4MDAsImlhdCI6MTc4NDkyMTc0NCwiZXhwIjoxNzg1NTI2NTQ0fQ.ztczbLC79Z56cP_pHAV1Pdnk87tj7Qh2sji1UaCi6FQ
VITE_STREAM_USER_ID=Internal_Almandine
VITE_STREAM_CALL_ID=ftopbtOpVs17BTZl5KlNB
